body {
    background-color: rgb(232, 244, 241);
    font-family: sans-serif;
}

h1,
h2 {
    font-family: Epilogue, Verdana, sans-serif;
}

#header-container {
    align-items: center;
    display: flex;
    margin: -8px -12px 5px;
}

#title-container {
    margin: auto;
}

#title {
    color: black;
    letter-spacing: 2.5px;
    margin: 17.44px 72px;
}

.link {
    color: rgb(257, 255, 255);
    letter-spacing: 0.7px;
    text-decoration: none;
}

#main-container {
    border-radius: 23px;
    box-shadow: 0 0 18px dimgray;
    margin: 5%;
}

#input-container {
    background-color: rgba(105, 105, 105, 0.15);
    border-radius: 10px;
    margin: 3% 5%;
    padding: 2.5% 0 5%;
    text-align: center;
}

#texto-tarefa {
    text-align: center;
    width: 29%;
}

#lista-tarefas {
    margin: 2.5%;
}

.gray {
    background-color: gray;
}

.completed {
    text-decoration: line-through;
}

#control-container {
    margin: 3%;
    text-align: center;
}

.controls {
    box-shadow: 0 0 3px dimgray;
}

#phrase {
    background-color: rgb(68, 73, 85);
    margin-top: 5%;
    padding: 1% 0;
}